.CatView__wrapper {
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
}

.CatView__cat {
  width: 100%;
  height: auto;
  display: block;
}

//.CatView__text {
//  display: block;
//}

.CatView__text {
  min-width: 150px;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  padding: 7px;
  border: 3px solid #5a8f00;
  font-family: $monospaceFontFamily;

  &:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 40px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #5a8f00 transparent;
    display: block;
    width: 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 45px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
  }

}
