@import './../../../../style/var';

.home-view__language {
  position: absolute;
  right: 0;
  top: 0;
}

.home-view__flag {
  margin: 8px 8px 0 0;
  width: 60px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: right;
  border-radius: 3px;
  border: 1px solid #777;
  opacity: 0.8;
  &.home-view__flag--en {
    background-image: url(./../container/view/home/img/en-lang-flag.svg);
  }
  &.home-view__flag--ru {
    background-image: url(./../container/view/home/img/ru-lang-flag.svg);
  }
}