html {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  display: block;
}

body {
  color: $mainFontColorLight;
  font-family: $mainFontFamily;
  line-height: 1.25;
  font-size: 16px; // plus font-size defined from <html>, use rem to be relative from it
  background-color: $bgColor;
  //background-color: #37c840;
}
