$mainFontFamily: Arial, Helvetica, sans-serif;
$mainFontColor: #f5f5f5;
$monospaceFontFamily: "Lucida Console", Monaco, monospace;

$bgColor: #c7d0e4;

.ta-center {
  text-align: center;
}

.serv__clear {
  clear: both;
}

.serv__clear-self {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.serv__is-disabled {
  opacity: 0.5;
}

