@import "./../../../style/var.scss";

.tic-tac-toe__field {
  @extend .serv__clear-self;
  margin: 0 auto;
  clear: both;
}

.tic-tac-toe__cell {
  float: left;
  position: relative;
}

.tic-tac-toe__score {
  width: 50%;
  float: left;
  padding-top: 1rem;
}

.tic-tac-toe__score-label {
  font-family: $monospaceFontFamily;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 0.4rem;
}

.tic-tac-toe__score-number {
  font-family: 'segment-standard', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.tic-tac-toe__cell-content {
  display: block;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  &.tic-tac-toe__cell-content--weapon {
    position: absolute;
    left: 0;
    top: 0;
  }
}
